<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.personality_style_test">

    <application


        android:allowBackup="true"
        android:icon="@mipmap/ic_main"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_main_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Personalitystyletest">

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-9118919379373252~4489807179"/>
        <meta-data
            android:name="com.google.android.gms.ads.AD_MANAGER_APP"
            android:value="true"/>
        <activity
            android:name=".personality.personality_result_isfp"
            android:exported="true" />
        <activity
            android:name=".personality.personality_result_isfj"
            android:exported="true" />
        <activity
            android:name=".personality.personality_result_istp"
            android:exported="true" />
        <activity
            android:name=".personality.personality_result_istj"
            android:exported="true" />
        <activity
            android:name=".personality.personality_result_infj"
            android:exported="true" />
        <activity
            android:name=".personality.personality_result_infp"
            android:exported="true" />
        <activity
            android:name=".personality.personality_result_intp"
            android:exported="true" />
        <activity
            android:name=".personality.personality_result_intj"
            android:exported="true" />
        <activity
            android:name=".personality.personality_result_esfp"
            android:exported="true" />
        <activity
            android:name=".personality.personality_result_esfj"
            android:exported="true" />
        <activity
            android:name=".personality.personality_result_estp"
            android:exported="true" />
        <activity
            android:name=".personality.personality_result_estj"
            android:exported="true" />
        <activity
            android:name=".personality.personality_result_enfp"
            android:exported="true" />
        <activity
            android:name=".personality.personality_result_enfj"
            android:exported="true" />
        <activity
            android:name=".personality.personality_result_entp"
            android:exported="true" />
        <activity
            android:name=".personality.personality_result_entj"
            android:exported="true" />
        <activity
            android:name=".personality.personality_40_Activity"
            android:exported="true" />
        <activity
            android:name=".personality.personality_39_Activity"
            android:exported="true" />
        <activity
            android:name=".personality.personality_38_Activity"
            android:exported="true" />
        <activity
            android:name=".personality.personality_37_Activity"
            android:exported="true" />
        <activity
            android:name=".personality.personality_36_Activity"
            android:exported="true" />
        <activity
            android:name=".personality.personality_35_Activity"
            android:exported="true" />
        <activity
            android:name=".personality.personality_34_Activity"
            android:exported="true" />
        <activity
            android:name=".personality.personality_33_Activity"
            android:exported="true" />
        <activity
            android:name=".personality.personality_32_Activity"
            android:exported="true" />
        <activity
            android:name=".personality.personality_31_Activity"
            android:exported="true" />
        <activity
            android:name=".personality.personality_30_Activity"
            android:exported="true" />
        <activity
            android:name=".personality.personality_29_Activity"
            android:exported="true" />
        <activity
            android:name=".personality.personality_28_Activity"
            android:exported="true" />
        <activity
            android:name=".personality.personality_27_Activity"
            android:exported="true" />
        <activity
            android:name=".personality.personality_26_Activity"
            android:exported="true" />
        <activity
            android:name=".personality.personality_25_Activity"
            android:exported="true" />
        <activity
            android:name=".personality.personality_24_Activity"
            android:exported="true" />
        <activity
            android:name=".personality.personality_23_Activity"
            android:exported="true" />
        <activity
            android:name=".personality.personality_22_Activity"
            android:exported="true" />
        <activity
            android:name=".personality.personality_21_Activity"
            android:exported="true" />
        <activity
            android:name=".personality.personality_20_Activity"
            android:exported="true" />
        <activity
            android:name=".personality.personality_19_Activity"
            android:exported="true" />
        <activity
            android:name=".personality.personality_18_Activity"
            android:exported="true" />
        <activity
            android:name=".personality.personality_17_Activity"
            android:exported="true" />
        <activity
            android:name=".personality.personality_16_Activity"
            android:exported="true" />
        <activity
            android:name=".personality.personality_15_Activity"
            android:exported="true" />
        <activity
            android:name=".personality.personality_14_Activity"
            android:exported="true" />
        <activity
            android:name=".personality.personality_13_Activity"
            android:exported="true" />
        <activity
            android:name=".personality.personality_12_Activity"
            android:exported="true" />
        <activity
            android:name=".personality.personality_11_Activity"
            android:exported="true" />
        <activity
            android:name=".personality.personality_10_Activity"
            android:exported="true" />
        <activity
            android:name=".personality.personality_9_Activity"
            android:exported="true" />
        <activity
            android:name=".personality.personality_8_Activity"
            android:exported="true" />
        <activity
            android:name=".personality.personality_7_Activity"
            android:exported="true" />
        <activity
            android:name=".personality.personality_6_Activity"
            android:exported="true" />
        <activity
            android:name=".personality.personality_5_Activity"
            android:exported="true" />
        <activity
            android:name=".personality.personality_4_Activity"
            android:exported="true" />
        <activity
            android:name=".personality.personality_3_Activity"
            android:exported="true" />
        <activity
            android:name=".personality.personality_2_Activity"
            android:exported="true" />
        <activity
            android:name=".personality.personality_1_Activity"
            android:exported="true" />
        <activity
            android:name=".personality.personalitytest_Activity"
            android:exported="true" />
        <activity
            android:name=".triptest.triptest_result8_Activity"
            android:exported="true" />
        <activity
            android:name=".triptest.triptest_result7_Activity"
            android:exported="true" />
        <activity
            android:name=".triptest.triptest_result6_Activity"
            android:exported="true" />
        <activity
            android:name=".triptest.triptest_result5_Activity"
            android:exported="true" />
        <activity
            android:name=".triptest.triptest_result4_Activity"
            android:exported="true" />
        <activity
            android:name=".triptest.triptest_result3_Activity"
            android:exported="true" />
        <activity
            android:name=".triptest.triptest_result2_Activity"
            android:exported="true" />
        <activity
            android:name=".triptest.triptest_result1_Activity"
            android:exported="true" />
        <activity
            android:name=".triptest.triptest_7_Activity"
            android:exported="true" />
        <activity
            android:name=".triptest.triptest_6_Activity"
            android:exported="true" />
        <activity
            android:name=".triptest.triptest_5_Activity"
            android:exported="true" />
        <activity
            android:name=".triptest.triptest_4_Activity"
            android:exported="true" />
        <activity
            android:name=".triptest.triptest_3_Activity"
            android:exported="true" />
        <activity
            android:name=".triptest.triptest_2_Activity"
            android:exported="true" />
        <activity
            android:name=".triptest.triptest_1_Activity"
            android:exported="true" />
        <activity
            android:name=".santatest.santatest_result4_Activity"
            android:exported="true" />
        <activity
            android:name=".santatest.santatest_result3_Activity"
            android:exported="true" />
        <activity
            android:name=".santatest.santatest_result2_Activity"
            android:exported="true" />
        <activity
            android:name=".santatest.santatest_result1_Activity"
            android:exported="true" />
        <activity
            android:name=".santatest.santatest_6_Activity"
            android:exported="true" />
        <activity
            android:name=".santatest.santatest_5_Activity"
            android:exported="true" />
        <activity
            android:name=".santatest.santatest_4_Activity"
            android:exported="true" />
        <activity
            android:name=".santatest.santatest_3_Activity"
            android:exported="true" />
        <activity
            android:name=".santatest.santatest_2_Activity"
            android:exported="true" />
        <activity
            android:name=".santatest.santatest_1_Activity"
            android:exported="true" />
        <activity
            android:name=".planttest.planttest_result3_Activity"
            android:exported="true" />
        <activity
            android:name=".planttest.planttest_result2_Activity"
            android:exported="true" />
        <activity
            android:name=".planttest.planttest_result1_Activity"
            android:exported="true" />
        <activity
            android:name=".planttest.planttest_5_Activity"
            android:exported="true" />
        <activity
            android:name=".planttest.planttest_4_Activity"
            android:exported="true" />
        <activity
            android:name=".planttest.planttest_3_Activity"
            android:exported="true" />
        <activity
            android:name=".planttest.planttest_2_Activity"
            android:exported="true" />
        <activity
            android:name=".planttest.planttest_1_Activity"
            android:exported="true" />
        <activity
            android:name=".foodtest.foodtest_result3_Activity"
            android:exported="true" />
        <activity
            android:name=".foodtest.foodtest_result2_Activity"
            android:exported="true" />
        <activity
            android:name=".foodtest.foodtest_result1_Activity"
            android:exported="true" />
        <activity
            android:name=".foodtest.foodtest_15_Activity"
            android:exported="true" />
        <activity
            android:name=".foodtest.foodtest_14_Activity"
            android:exported="true" />
        <activity
            android:name=".foodtest.foodtest_13_Activity"
            android:exported="true" />
        <activity
            android:name=".foodtest.foodtest_12_Activity"
            android:exported="true" />
        <activity
            android:name=".foodtest.foodtest_11_Activity"
            android:exported="true" />
        <activity
            android:name=".foodtest.foodtest_10_Activity"
            android:exported="true" />
        <activity
            android:name=".foodtest.foodtest_9_Activity"
            android:exported="true" />
        <activity
            android:name=".foodtest.foodtest_8_Activity"
            android:exported="true" />
        <activity
            android:name=".foodtest.foodtest_7_Activity"
            android:exported="true" />
        <activity
            android:name=".foodtest.foodtest_6_Activity"
            android:exported="true" />
        <activity
            android:name=".foodtest.foodtest_5_Activity"
            android:exported="true" />
        <activity
            android:name=".foodtest.foodtest_4_Activity"
            android:exported="true" />
        <activity
            android:name=".foodtest.foodtest_3_Activity"
            android:exported="true" />
        <activity
            android:name=".foodtest.foodtest_2_Activity"
            android:exported="true" />
        <activity
            android:name=".foodtest.foodtest_1_Activity"
            android:exported="true" />
        <activity
            android:name=".exercisetest.exercisetest_result5_Activity"
            android:exported="true" />
        <activity
            android:name=".exercisetest.exercisetest_result4_Activity"
            android:exported="true" />
        <activity
            android:name=".exercisetest.exercisetest_result3_Activity"
            android:exported="true" />
        <activity
            android:name=".exercisetest.exercisetest_result2_Activity"
            android:exported="true" />
        <activity
            android:name=".exercisetest.exercisetest_result1_Activity"
            android:exported="true" />
        <activity
            android:name=".exercisetest.exercisetest_6_Activity"
            android:exported="true" />
        <activity
            android:name=".exercisetest.exercisetest_5_Activity"
            android:exported="true" />
        <activity
            android:name=".exercisetest.exercisetest_4_Activity"
            android:exported="true" />
        <activity
            android:name=".exercisetest.exercisetest_3_Activity"
            android:exported="true" />
        <activity
            android:name=".exercisetest.exercisetest_2_Activity"
            android:exported="true" />
        <activity
            android:name=".exercisetest.exercisetest_1_Activity"
            android:exported="true" />
        <activity
            android:name=".colortest.colortest_result5_Activity"
            android:exported="true" />
        <activity
            android:name=".colortest.colortest_result4_Activity"
            android:exported="true" />
        <activity
            android:name=".colortest.colortest_result3_Activity"
            android:exported="true" />
        <activity
            android:name=".colortest.colortest_result2_Activity"
            android:exported="true" />
        <activity
            android:name=".colortest.colortest_result1_Activity"
            android:exported="true" />
        <activity
            android:name=".colortest.colortest_6_Activity"
            android:exported="true" />
        <activity
            android:name=".colortest.colortest_5_Activity"
            android:exported="true" />
        <activity
            android:name=".colortest.colortest_4_Activity"
            android:exported="true" />
        <activity
            android:name=".colortest.colortest_3_Activity"
            android:exported="true" />
        <activity
            android:name=".colortest.colortest_2_Activity"
            android:exported="true" />
        <activity
            android:name=".colortest.colortest_1_Activity"
            android:exported="true" />
        <activity
            android:name=".caketest.caketest_result4_Activity"
            android:exported="true" />
        <activity
            android:name=".caketest.caketest_result3_Activity"
            android:exported="true" />
        <activity
            android:name=".caketest.caketest_result2_Activity"
            android:exported="true" />
        <activity
            android:name=".caketest.caketest_result1_Activity"
            android:exported="true" />
        <activity
            android:name=".caketest.caketest_7_Activity"
            android:exported="true" />
        <activity
            android:name=".caketest.caketest_6_Activity"
            android:exported="true" />
        <activity
            android:name=".caketest.caketest_5_Activity"
            android:exported="true" />
        <activity
            android:name=".caketest.caketest_4_Activity"
            android:exported="true" />
        <activity
            android:name=".caketest.caketest_3_Activity"
            android:exported="true" />
        <activity
            android:name=".caketest.caketest_2_Activity"
            android:exported="true" />
        <activity
            android:name=".caketest.caketest_1_Activity"
            android:exported="true" />
        <activity
            android:name=".bankingtest.bankingtest_result3_Activity"
            android:exported="true" />
        <activity
            android:name=".bankingtest.bankingtest_result2_Activity"
            android:exported="true" />
        <activity
            android:name=".bankingtest.bankingtest_result1_Activity"
            android:exported="true" />
        <activity
            android:name=".bankingtest.bankingtest_6_Activity"
            android:exported="true" />
        <activity
            android:name=".bankingtest.bankingtest_5_Activity"
            android:exported="true" />
        <activity
            android:name=".bankingtest.bankingtest_4_Activity"
            android:exported="true" />
        <activity
            android:name=".bankingtest.bankingtest_3_Activity"
            android:exported="true" />
        <activity
            android:name=".bankingtest.bankingtest_2_Activity"
            android:exported="true" />
        <activity
            android:name=".bankingtest.bankingtest_1_Activity"
            android:exported="true" />
        <activity
            android:name=".triptest.TripTestActivity"
            android:exported="true" />
        <activity
            android:name=".santatest.santatestActivity"
            android:exported="true" />
        <activity
            android:name=".planttest.PlantTestActivity"
            android:exported="true" />
        <activity
            android:name=".exercisetest.exercisetestActivity"
            android:exported="true" />
        <activity
            android:name=".colortest.ColorTestActivity"
            android:exported="true" />
        <activity
            android:name=".caketest.CakeTestActivity"
            android:exported="true" />
        <activity
            android:name=".bankingtest.BankingTestActivity"
            android:exported="true" />
        <activity
            android:name=".foodtest.FoodTestActivity"
            android:exported="true" />
        <activity
            android:name=".coupleActivity"
            android:exported="true" />
        <activity
            android:name=".PersonalityActivity"
            android:exported="true" />
        <activity
            android:name=".HumorActivity"
            android:exported="true" />
        <activity
            android:name=".logoActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>